/* .App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  margin-bottom: 20px;
}

.radio-container {
  margin-bottom: 10px;
}

.checkbox-container {
  margin-bottom: 10px;
}

.time-container {
  margin-top: 10px;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: #333;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff; /* White background 
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox:hover input ~ .checkmark {
  background-color: #f0f0f0; /* Light gray background on hover
  border-color: #999;
}

.checkbox input:checked ~ .checkmark {
  background-color: #007bff; /* Blue background when checked
  border-color: #0056b3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.submit-button {
  background-color: #007bff; /* Blue button background
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker blue on hover 
} */
