.popup-window {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  min-height: 350px; /* Set minimum height */
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background */
  border: 2px solid black; /* Border color changed to black */
  border-radius: 10px;
  z-index: auto;
}

.title-container {
  text-align: center;
  z-index: auto; /* Set z-index to auto */
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px; /* Increase font size */
  font-weight: bold;
  color: #007bff; /* Blue color */
  font-family: Arial, sans-serif; /* Modern font */
}

.time-dropdown-container {
  margin-top: 10px;
  border: 2px solid black; /* Add border to time dropdown container */
  padding: 10px; /* Add padding to create space between inputs and border */
}

.min-video-duration-label {
  font-weight: bold;
  font-size: 16px; /* Increase font size for label text */
  margin-top: 10px;
}

.max-video-duration-label {
  font-weight: bold;
  font-size: 16px; /* Increase font size for label text */
  margin-bottom: 5px;
}

.min-video-duration-input {
  display: block;
  font-size: 15px; /* Increase font size */
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px; /* Add padding to increase size of inputs */
  margin-bottom: 10px; /* Add margin-bottom to create space between inputs */
}

.max-video-duration-input {
  display: block;
  font-size: 15px; /* Increase font size */
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px; /* Add padding to increase size of inputs */
}

.submit-container {
  text-align: center; /* Center the submit button */
  margin-top: 30px; /* Set original margin-top */
}

.submit-button {
  background-color: #007bff; /* Blue button background */
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px; /* Adjust padding to make all buttons the same size */
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
